@font-face {
  font-family: "data-font";
  src: url("../../../assets/font/DataFont.eot");
  src: url("../../../assets/font/DataFont.woff") format("woff"),
    url("../../../assets/font/DataFont.otf") format("opentype");
}

div.data {
  font-family: data-font;
  text-transform: uppercase;
  position: relative;
  top: -210px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  left: 34px;
  font-weight: bold;
}
.district {
  position: relative;
  top: 16px;
}
.division {
  position: relative;
  top: 17px;
}
.location {
  position: relative;
  top: 20px;
}
.sub-location {
  position: relative;
  top: 20px;
}
.filler {
  position: relative;
  top: 27px;
  left: 240px;
  font-size: 14.3px;
  font-weight: 900;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.5);
}
.databinder {
  position: relative;
  top: 35px;
  left: -15px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 1px;
  transform: rotate(0.4deg);
  line-height: 20px;
}

tr:first-child {
  text-align: left;
}
tr:last-child {
  text-align: right;
}

.id-front {
  font-size: 13px;
  font-weight: bold;
  color: rgba(49, 49, 49, 0.8);
}
.image-holder {
  font-family: data-font;
  text-transform: uppercase;
  height: 250px;
  //width: 350px;
}

.front-data {
  position: relative;
  top: -218px;
}

.inner-data {
  position: relative;
  left: 145px;
  top: 4px;
}
.serial-number {
  position: relative;
  top: 20px;
  left: 85px;
  letter-spacing: -0.6px;
  font-size: 13px;
  font-weight: 600;
}
.id-number {
  position: relative;
  top: 3px;
  left: 247px;
}
.name {
  position: relative;
  top: 4px;
  left: 36px;
}
.buttons-container {
  width: 75%;
  height: 6%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 20px;
}
.wrapper {
  height: 500px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center-div {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
}
.place-of-birth {
  position: relative;
  top: 1px;
}
.place-of-issue {
  position: relative;
  top: 1px;
}
.date-of-issue {
  position: relative;
  top: 1px;
}

mat-icon {
  font-size: 20px;
}
