<div class="wrapper-">
  <canvas class="idCanvas" #canvas width="394.633" height="250"></canvas>
</div>

<div
  #trial
  style="
    font-family: data-font;
    font-weight: bold;
    font-size: 13px;
    text-transform: uppercase;
  "
>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate in<br />
  laboriosam minima neque numquam, quo vel. Beatae distinctio esse impedit,<br />
  maiores maxime omnis placeat quas, repudiandae sapiente sed tenetur,<br />
  voluptatibus!
</div>

<img #image src="../../../assets/idFront.png" alt="" height="250px" />
