.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: black;
  width: 100%;
  height: 600px;
  overflow: auto;
}
.button-holder {
  display: flex;
  justify-content: space-around;
  min-width: 200px;
}
.canvas-holder {
  width: 400px;
  height: 75%;
  display: grid;
  place-items: center;
}
