<div class="wrapper">
  <div class="center-div" *ngIf="numberOfLookups > 0">
    <div class="image-holder" *ngIf="!idFront">
      <img src="assets/id.png" class="id-image" alt="back image" width="350" />
      <div class="data">
        <div class="district">{{ currentLocation.district }}</div>
        <div class="division">{{ currentLocation.division }}</div>
        <div class="location">{{ currentLocation.location }}</div>
        <div class="sub-location">{{ currentLocation.subLocation }}</div>
        <div class="filler">897</div>
        <div class="databinder">
          <span id="firstline">IDKYA{{ serialNumber }}<<3981<<<<<3982 </span
          ><br />
          <span id="secondline">{{ secondLine }}</span
          ><br />
          <span id="thirdline">{{ thirdLine }}</span
          ><br />
        </div>
      </div>
    </div>

    <div class="image-holder id-front" *ngIf="idFront">
      <img
        src="assets/idfront3.png"
        class="id-image"
        alt="back image"
        width="350"
      />
      <div class="front-data">
        <div class="serial-number">{{ serialNumber }}</div>
        <div class="id-number">{{ idNumber }}</div>
        <div class="name">{{ name }}</div>

        <div class="inner-data">
          <div class="dob">{{ dob }}</div>
          <div class="gender">{{ gender }}</div>
          <div class="place-of-birth">{{ placeOfBirth }}</div>
          <div class="place-of-issue">{{ placeOfIssue }}</div>
          <div class="date-of-issue">{{ dateOfIssue }}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="buttons-containe">
    <button mat-stroked-button color="accent" (click)="idFront = !idFront">
      Flip Id
      <mat-icon>flip</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="goBack()">
      <mat-icon>done</mat-icon>

      Ok
    </button>
  </div>
</div>
