li {
  padding: 10px;
  cursor: pointer;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
mat-table {
  width: 100%;
  padding: 1em;
}
.mat-column-lookups {
  text-align: right;
}
.mat-column-email {
  padding-left: 1em;
}
.mat-column-edit {
  padding-left: 1em;

  mat-icon {
    font-size: 14px;
    cursor: pointer;
  }
}

.lookup-changer {
  width: 30px;
}

.search-input {
  padding: 3px;
  margin: 10px 0 5px 30px;
}
