<div class="wrapper" (click)="modalClose()">
  <div class="container" (click)="contClicked($event)">
    <form
      #changePWord="ngForm"
      (ngSubmit)="changePassword(changePWord)"
      *ngIf="!success && !isLoading"
    >
      <mat-form-field>
        <mat-label> Password </mat-label>
        <input
          matInput
          name="password1"
          ngModel
          id="password"
          required
          type="password"
          #password1
        />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Confirm password </mat-label>
        <input
          matInput
          name="password2"
          ngModel
          id="password2"
          required
          type="password"
          #password2
        />
      </mat-form-field>

      <p class="mat-error" *ngIf="password1.value != password2.value">
        Password do not match!
      </p>
      <p class="mat-error" *ngIf="error">
        {{ error }}
      </p>

      <div class="button-holder">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="changePWord.invalid || password1.value != password2.value"
        >
          <mat-icon>update</mat-icon>
          Update
        </button>
        <button mat-flat-button color="warn" (click)="closeModal.emit()">
          <mat-icon>close</mat-icon>
          cancel
        </button>
      </div>
    </form>

    <div *ngIf="isLoading" class="loading">
      <mat-spinner diameter="30"></mat-spinner>
      <p>Please wait ...</p>
    </div>

    <div class="success-holder" *ngIf="success">
      <div>
        <p class="mat-primary">Password changed successfully</p>
      </div>
      <button mat-flat-button color="primary" (click)="closeModal.emit()">
        <mat-icon>check</mat-icon>
        Ok
      </button>
    </div>
  </div>
</div>
