@font-face {
  font-family: "data-font";
  src: url("../assets/font/DataFont.eot");
  src: url("../assets/font/DataFont.woff") format("woff"),
    url("../assets/font/DataFont.otf") format("opentype");
}

.font-loader {
  font-family: data-font;
}

.spacer {
  flex: 1 1 auto;
}
.logoutbtn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account {
  font-size: 40px;
}
