<div class="wrapper" appModal (closeModal)="closeModal.emit()">
  <div class="profile-holder">
    <div class="icon-holder">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="email-holder">
      <h3>{{ userEmail }}</h3>
    </div>
  </div>
  <ul>
    <li>
      <button mat-icon-button (click)="changePassword.emit()">
        <mat-icon>vpn_key</mat-icon>
        Change password
      </button>
    </li>

    <li *ngIf="isAdmin">
      <a routerLink="/admin" mat-icon-button (click)="closeModal.emit()">
        <mat-icon>admin_panel_settings</mat-icon>
        Admin page
      </a>
    </li>

    <li>
      <button mat-icon-button (click)="logout.emit()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
    </li>
  </ul>
</div>
