<div class="cont">
  <a routerLink="/admin" *ngIf="isAdmin" mat-button color="accent">
    <mat-icon>admin_panel_settings</mat-icon>
    Admin page
  </a>
  <fieldset *ngIf="numberOfLookups > 0">
    <form
      #detailsForm="ngForm"
      action=""
      (ngSubmit)="submitDetails(detailsForm)"
    >
      <mat-form-field>
        <mat-label> First Name </mat-label>
        <input matInput name="firstName" ngModel id="firstName" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Second Name </mat-label>
        <input matInput name="secondName" ngModel id="middleName" />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Last Name </mat-label>
        <input matInput name="lastName" ngModel id="lastName" required />
      </mat-form-field>

      <mat-form-field>
        <mat-label> Id Number </mat-label>
        <input
          matInput
          name="idNumber"
          ngModel
          id="idNumber"
          maxlength="8"
          minlength="7"
          required
        />
        <span class="help"></span>

        <small
          id="emailHelp"
          class="form-text text-danger"
          *ngIf="detailsForm.controls['idNumber']?.errors?.minLength"
        >
          please ensure that the id number is correct
        </small>
      </mat-form-field>

      <label class="col-md-2 col-form-label">Gender:</label>

      <mat-radio-group aria-label="Gender" name="gender" ngModel>
        <mat-radio-button value="F" id="female">Female</mat-radio-button>
        <mat-radio-button value="M" id="male">Male</mat-radio-button>
      </mat-radio-group>

      <mat-form-field>
        <mat-label>Date of Birth</mat-label>
        <input
          matInput
          ngModel
          name="date"
          type="date"
          id
          required
          class="md-body-1"
        />
      </mat-form-field>

      <div>
        <p>
          {{ detailsForm.errors }}
        </p>
      </div>
      <div class="row">
        <div class="col-10"></div>
        <div class="col-2">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            [disabled]="detailsForm.invalid"
          >
            Generate
          </button>
        </div>
      </div>
    </form>
  </fieldset>

  <div class="flex-center" *ngIf="numberOfLookups <= 0">
    <div class="card">
      <h1 class="text-danger">Please refill your lookups</h1>
    </div>
  </div>
</div>
